.leftPanel {
    background: #f2f2f2;
    display: inline-block;
    height: 800px;
    width: 800px;
}

.rightPanel {
    background: #f0f0f0;
    display: inline-block;
    height: 800px;
    width: 800px;
}

.sectionHeader {
    border-top: 1px solid #333;
    width: 100%;
    height: 1px;
    display: block;
}

.numberButton {
    width: 60px;
}