/*
classes

*/

.main {
    margin 1 auto;
    width: 1602px;
    background: #ffffff;
}

.leftPanel {
    background: #f2f2f2;
    display: inline-block;
    width: 800px;
    align: left;
    float: left;
    height: 100%;
}

.rightPanel {
    background: #f0f0f0;
    display: inline-block;
    width: 800px;
    align: right;
    height: 100%;
}

.drawPanelLeft {
    display: inline-block;
    width: 48%;
    align: left;
}

.drawPanelRight {
    display: inline-block;
    width: 48%;
    align: right;
}

.sectionHeader {
    border-top: 1px solid #333;
    width: 100%;
    height: 1px;
    display: block;
}

.numberButton {
    width: 60px;
}