<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>LotoMaestro</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="img/balls.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <th:block th:each="register : ${registers}">
        <input type="hidden" th:name="${register._id}" th:value="${'register_'+register._id}">
    </th:block>
    <span th:if="${currentRegister != null}">
        <input type="hidden" name="currentRegister" th:value="${currentRegister._id}" id="currentRegister">
        <input type="hidden" name="currentLimit" th:value="${currentRegister.limit}" id="currentLimit">
        <input type="hidden" name="currentCount" th:value="${currentRegister.count}" id="currentCount">
    </span>

    <!-- header -->
    <header class="header js-wp-header">
        <div class="header__herotext">
            <img src="img/balls.png" alt="LotoMaestro" class="header__heroimage">
            <h1 class="header__heroheader">LotoMaestro</h1>
            <!--navigation here?-->
        </div>
        <div class="header__section">
            <div class="header__info">
                <p class="header__section__paragraph" th:if="${currentRegister != null}">
                    <span th:text="${time}" th:remove="tag" > time </span> -
                    Loteria: <span th:text="${currentRegister._id}" th:remove="tag" > id </span> -
                    Limite: <span th:text="${currentRegister.limit}" th:remove="tag" > limit </span> -
                    Possibilidades: <span th:text="${possible}" th:remove="tag" > possible </span> -
                    Sorteios: <span th:text="${count}" th:remove="tag" > count </span>
                </p>
            </div>
            <!--register buttons-->
            <div class="header__registerbuttons">
                <th:block th:each="register : ${registers}">
                    <a th:name="${register._id}" class="header__registerbutton--unit" th:id="${register._id}"
                        onclick="changeCurrent(this.id)" th:value="${register._id}" href="#">
                        <span th:text="${register._id}" th:remove="tag" > id </span>
                    </a>
                </th:block>
            </div>
        </div>
    </header>

    <div class="main">

        <!-- LEFT PANEL-->
        <div class="leftPanel">
            <div class="check">
                <div class="check__title--line">Sorteio por número</div>
                
                <input type="text" th:value="${checkValue}" th:id="checkInput"> -
                <input type="button" th:name="${checkValueButton}" class="btn btn-info" th:id="${checkValueButton}" th:value="Verificar" onclick="check(checkInput.value)">
                <br>
                <div class="check__results">
                    <th:block th:each="draw, iter : ${lastCheckedDraws}">
                        <span th:text="${draw._id}" th:remove="tag" > id </span> -
                        <b><span th:text="${draw.date}" th:remove="tag" > date </span> -</b>
                        <th:block th:each="number, iter2 : ${draw.numbers}">
                            <span th:text="${number}" th:remove="tag" > number </span>.
                        </th:block>
                        <br>
                    </th:block>
                </div>
            </div>
            <div class="numbers">
                <div class="check__title--line">NÚMEROS</div>
                <div class="numbers__container">
                    <th:block th:each="number, iter : ${numbers}">
                        <span th:if="${selectedNumbers.contains(number)}">
                            <a th:name="${number}" class="numberButton__toggle" th:id="${number}"
                            onclick="toggleSelection(this.id)" th:value="${number}"> 
                            <span th:if="${number lt 10}">
                                0<span th:text="${number}" th:remove="tag" > id </span>
                            </span>
                            <span th:unless="${number lt 10}">
                                    <span th:text="${number}" th:remove="tag" > id </span>
                            </span>
                            </a>
                        </span>
                        <span th:unless="${selectedNumbers.contains(number)}">
                            <a th:name="${number}" class="numberButton" th:id="${number}"
                                onclick="toggleSelection(this.id)" th:value="${number}">
                                <span th:if="${number lt 10}">
                                        0<span th:text="${number}" th:remove="tag" > id </span>  
                                    </span>
                                    <span th:unless="${number lt 10}">
                                        <span th:text="${number}" th:remove="tag" > id </span>
                                    </span>
                                </a>
                        </span>
                        <span th:if="${iter.count % 10 == 0}">&nbsp; <br> <br> </span>
                    </th:block>
                </div>
                <br><br>
            </div>

            <div class="selected">
                <div class="check__title--line">NÚMEROS SELECIONADOS</div>
                <div class="selected__content">
                    <th:block th:each="number, iter : ${selectedNumbers}">
                        <a th:name="${number}" class="numberButton" th:id="${number}" onclick="removeFromSelection(this.id)" th:value="${number}">
                            <span th:if="${number lt 10}">
                                0<span th:text="${number}" th:remove="tag" > id </span>  
                            </span>
                            <span th:unless="${number lt 10}">
                                <span th:text="${number}" th:remove="tag" > id </span>
                            </span>
                        </a>
                        </a>
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block> - 
                    <input type="button" name="${clear}" class="btn" id="${clear}"
                        onclick="clearSelection(this.id)" value="Limpar Seleção">
                </div>
            </div>            

            <div class="probability__mos">
                <div class="check__title--line">Mais usados (em ordem)</div>                              
                
                <th:block th:each="dto, iter : ${adviceCommon}">
                    <a th:name="${dto.number}" class="numberButton" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${dto.number lt 10}">
                            0<span th:text="${dto.number}" th:remove="tag" > id </span>  
                        </span>
                        <span th:unless="${dto.number lt 10}">
                            <span th:text="${dto.number}" th:remove="tag" > id </span>
                        </span>
                    </a>
                    &nbsp;
                    <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                </th:block>
                <br><br>
            </div>
            <div class="probability__least">
                <div class="check__title--line">Menos usados (em ordem)</div>                              
                <th:block th:each="dto, iter : ${adviceLesser}">
                    <a th:name="${dto.number}" class="numberButton__toggle" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${dto.number lt 10}">
                            0<span th:text="${dto.number}" th:remove="tag" > id </span>  
                        </span>
                        <span th:unless="${dto.number lt 10}">
                            <span th:text="${dto.number}" th:remove="tag" > id </span>
                        </span>
                    </a>
                    &nbsp;
                    <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                </th:block>
                <br>
            </div>
            
            <div class="predictive">
                <div class="check__title--line">Análise Preditiva</div>
                <br>
                <span th:if="${predict != null}"><span th:text="${predict}" th:remove="tag" > predict </span> </span> <br>
                <span th:if="${aroundIn != null}"><span th:text="${aroundIn}" th:remove="tag" > aroundIn </span> </span> Semanas
            </div>

        </div>
        <!-- RIGHT PANEL-->
        <div class="rightPanel">

            <div class="sync">
                <div class="check__title--line">Atualizar Sorteios</div>
                <span th:if="${currentRegister != null}">
                    <button type="button" class="btn btn-success" onclick="update(this.id)" th:id="${currentRegister._id}" th:name="${currentRegister._id}">ATUALIZAR</button>
                </span>
                <br><br>
            </div>

            <div class="drawSelect">
                <div class="check__title--line">Sorteios por números selecionados</div>
                total: <span th:text="${selectedDrawsSize}" th:remove="tag" > size </span> <br>
                <th:block th:each="draw, iter : ${selectedDraws}">
                    <span th:text="${draw._id}" th:remove="tag" > id </span> -
                    <b><span th:text="${draw.date}" th:remove="tag" > date </span> -</b>
                    <th:block th:each="number, iter2 : ${draw.numbers}">
                        <span th:text="${number}" th:remove="tag" > number </span>.
                    </th:block>
                    <br>
                </th:block>
            </div>

            <div class="probability">
                <div class="check__title--line">Probabilidade por número</div>
                <br>
                <th:block th:each="dto, iter : ${probabilityDTO}">
                    <a th:name="${dto.number}" class="numberButton" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${dto.number lt 10}">
                            0<span th:text="${dto.number}" th:remove="tag" > id </span>  
                        </span>
                        <span th:unless="${dto.number lt 10}">
                            <span th:text="${dto.number}" th:remove="tag" > id </span>
                        </span>
                    </a>
                    &nbsp;
                                       
                    <input type="button" th:name="${dto.chance}" class="button-percent" th:id="${dto.chance}" th:value="${dto.chance}">%
                    
                    <span th:if="${iter.count % 5 == 0}"> <br> <br> </span>                    
                </th:block>
            </div>

            <div class="highAmount">
                <span th:if="${higherAmount != null}">
                    <div class="check__title--line">Maior prêmio - #<span th:text="${higherAmount._id}" th:remove="tag" > id </span> </div>
                    
                    <span th:text="${higherAmount.date}" th:remove="tag" > date </span>
                    <th:block th:each="number, iter : ${higherAmount.numbers}">
                        <a th:name="${number}" class="numberButton" th:id="${number}" th:value="${number}">
                            <span th:if="${number lt 10}">
                                0<span th:text="${number}" th:remove="tag" > id </span>  
                            </span>
                            <span th:unless="${number lt 10}">
                                <span th:text="${number}" th:remove="tag" > id </span>
                            </span>
                        </a>
                        &nbsp;
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <br><br>

                    <div class="drawPanelLeft" >
                        <th:block th:each="amount : ${higherAmount.winnerCategoriesAmount}">
                            W: <span th:text="${amount}" th:remove="tag" > amount </span> <br>
                        </th:block>
                    </div>

                    <div class="drawPanelRight" >
                        <th:block th:each="dividend : ${higherAmount.winnerCategoriesDividends}">
                            $: <span th:text="${dividend / 100}" th:remove="tag" > dividend </span> <br>
                        </th:block>
                    </div>
                </span>

            </div>

            <div class="highDividend">
                <span th:if="${higherDividend != null}">
                    <div class="check__title--line">Mais vencedores - #<span th:text="${higherDividend._id}" th:remove="tag" > id </span></div>
                    <span th:text="${higherDividend.date}" th:remove="tag" > date </span>
                    <th:block th:each="number, iter : ${higherDividend.numbers}">
                        <a th:name="${number}" class="numberButton__toggle" th:id="${number}" th:value="${number}">
                            <span th:if="${number lt 10}">
                                0<span th:text="${number}" th:remove="tag" > id </span>  
                            </span>
                            <span th:unless="${number lt 10}">
                                <span th:text="${number}" th:remove="tag" > id </span>
                            </span>
                        </a>
                        &nbsp;
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <br><br>

                    <div class="drawPanelLeft" >
                        <th:block th:each="amount : ${higherDividend.winnerCategoriesAmount}">
                            W: <span th:text="${amount}" th:remove="tag" > amount </span> <br>
                        </th:block>
                    </div>

                    <div class="drawPanelRight" >
                        <th:block th:each="dividend : ${higherDividend.winnerCategoriesDividends}">
                            $: <span th:text="${dividend / 100}" th:remove="tag" > dividend </span> <br>
                        </th:block>
                    </div>
                </span>

            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="panel.js"></script>
</body>
</html>