<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <th:block th:each="register : ${registers}">
        <input type="hidden" th:name="${register._id}" th:value="${'register_'+register._id}">
    </th:block>
    <span th:if="${currentRegister != null}">
        <input type="hidden" name="currentRegister" th:value="${currentRegister._id}" id="currentRegister">
        <input type="hidden" name="currentLimit" th:value="${currentRegister.limit}" id="currentLimit">
        <input type="hidden" name="currentCount" th:value="${currentRegister.count}" id="currentCount">
    </span>

    <center>
        <div class="alert alert-dark">
            <strong th:if="${currentRegister != null}">
                Now: <span th:text="${time}" th:remove="tag" > time </span> |
                Register: <span th:text="${currentRegister._id}" th:remove="tag" > id </span>
                Limit: <span th:text="${currentRegister.limit}" th:remove="tag" > limit </span>
                | Possibilities: <span th:text="${possible}" th:remove="tag" > possible </span>
                | Count: <span th:text="${count}" th:remove="tag" > count </span>
            </strong>
        </div>
        <div class="main">

            <!-- LEFT PANEL-->
            <div class="leftPanel">

                <div class="registers">
                    REGISTERS
                    <span class="sectionHeader"></span>
                    <th:block th:each="register : ${registers}">
                        <input type="button" th:name="${register._id}" class="btn btn-primary registerButton" th:id="${register._id}"
                               onclick="changeCurrent(this.id)" th:value="${register._id}">
                    </th:block>

                </div>
                <br>

                <div class="numbers">
                    NUMBERS
                    <span class="sectionHeader"></span>
                    <th:block th:each="number, iter : ${numbers}">
                        <span th:if="${selectedNumbers.contains(number)}">
                            <input type="button" th:name="${number}" class="btn btn-success numberButton" th:id="${number}"
                               onclick="toggleSelection(this.id)" th:value="${number}">
                        </span>
                        <span th:unless="${selectedNumbers.contains(number)}">
                            <input type="button" th:name="${number}" class="btn btn-warning numberButton" th:id="${number}"
                                   onclick="toggleSelection(this.id)" th:value="${number}">
                        </span>
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <br><br>
                </div>

                <div class="selected">
                    SELECTED
                    <span class="sectionHeader"></span>
                    <th:block th:each="number, iter : ${selectedNumbers}">
                        <input type="button" th:name="${number}" class="btn btn-warning numberButton" th:id="${number}"
                               onclick="removeFromSelection(this.id)" th:value="${number}">
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <input type="button" name="${clear}" class="btn btn-danger numberButton" id="${clear}"
                           onclick="clearSelection(this.id)" value="Clear">
                    <br><br>
                </div>

                <div class="sync">
                    UPDATE DATA SOURCE
                    <span class="sectionHeader"></span>
                    <span th:if="${currentRegister != null}">
                        <button type="button" class="btn btn-success" onclick="update(this.id)" th:id="${currentRegister._id}" th:name="${currentRegister._id}">UPDATE</button>
                    </span>
                    <br><br>
                </div>

                <div class="probability">
                    MOST USED SORTED
                    <span class="sectionHeader"></span>
                    <br>
                    <th:block th:each="dto, iter : ${adviceCommon}">
                        <input type="button" th:name="${dto.number}" class="btn btn-info" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <br><br>
                </div>
                <div class="probability">
                    LEAST USED SORTED
                    <span class="sectionHeader"></span>
                    <br>
                    <th:block th:each="dto, iter : ${adviceLesser}">
                        <input type="button" th:name="${dto.number}" class="btn btn-info" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                    </th:block>
                    <br>
                </div>

                <div class="check">
                    <br> CHECK <br>
                    <span class="sectionHeader"></span>
                    <input type="text" th:value="${checkValue}" th:id="checkInput"> -
                    <input type="button" th:name="${checkValueButton}" class="btn btn-info" th:id="${checkValueButton}" th:value="Check" onclick="check(checkInput.value)">
                    <br>
                    <th:block th:each="draw, iter : ${lastCheckedDraws}">
                        <span th:text="${draw._id}" th:remove="tag" > id </span> -
                        <b><span th:text="${draw.date}" th:remove="tag" > date </span> -</b>
                        <th:block th:each="number, iter2 : ${draw.numbers}">
                            <span th:text="${number}" th:remove="tag" > number </span>.
                        </th:block>
                        <br>
                    </th:block>
                    <br>

                </div>
                <div class="predictive">
                    NUMBER PREDICTIVE ANALYSIS
                    <span class="sectionHeader"></span>
                    <br>

                </div>

            </div>
            <!-- RIGHT PANEL-->
            <div class="rightPanel">

                <div class="drawSelect">
                    DRAWS BY SELECTED
                    <span class="sectionHeader"></span>
                    total: <span th:text="${selectedDrawsSize}" th:remove="tag" > size </span> <br>
                    <th:block th:each="draw, iter : ${selectedDraws}">
                        <span th:text="${draw._id}" th:remove="tag" > id </span> -
                        <b><span th:text="${draw.date}" th:remove="tag" > date </span> -</b>
                        <th:block th:each="number, iter2 : ${draw.numbers}">
                            <span th:text="${number}" th:remove="tag" > number </span>.
                        </th:block>
                        <br>
                    </th:block>
                </div>

                <div class="highAmount">
                    <span th:if="${higherAmount != null}">
                        HIGH AMOUNT - #<span th:text="${higherAmount._id}" th:remove="tag" > id </span> <br>
                        <span class="sectionHeader"></span>
                        <span th:text="${higherAmount.date}" th:remove="tag" > date </span> <br>
                        <th:block th:each="number, iter : ${higherAmount.numbers}">
                            <input type="button" th:name="${number}" class="btn btn-success numberButton" th:id="${number}" th:value="${number}">
                            <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                        </th:block>
                        <br><br>

                        <div class="drawPanelLeft" >
                            <th:block th:each="amount : ${higherAmount.winnerCategoriesAmount}">
                                W: <span th:text="${amount}" th:remove="tag" > amount </span> <br>
                            </th:block>
                        </div>

                        <div class="drawPanelRight" >
                            <th:block th:each="dividend : ${higherAmount.winnerCategoriesDividends}">
                                $: <span th:text="${dividend / 100}" th:remove="tag" > dividend </span> <br>
                            </th:block>
                        </div>
                    </span>

                </div>

                <div class="highDividend">
                    <span th:if="${higherDividend != null}">
                        HIGH DIVIDEND - #<span th:text="${higherDividend._id}" th:remove="tag" > id </span> <br>
                        <span class="sectionHeader"></span>
                        <span th:text="${higherDividend.date}" th:remove="tag" > date </span> <br>
                        <th:block th:each="number, iter : ${higherDividend.numbers}">
                            <input type="button" th:name="${number}" class="btn btn-success numberButton" th:id="${number}" th:value="${number}">
                            <span th:if="${iter.count % 10 == 0}"> <br> <br> </span>
                        </th:block>
                        <br><br>

                        <div class="drawPanelLeft" >
                            <th:block th:each="amount : ${higherDividend.winnerCategoriesAmount}">
                                W: <span th:text="${amount}" th:remove="tag" > amount </span> <br>
                            </th:block>
                        </div>

                        <div class="drawPanelRight" >
                            <th:block th:each="dividend : ${higherDividend.winnerCategoriesDividends}">
                                $: <span th:text="${dividend / 100}" th:remove="tag" > dividend </span> <br>
                            </th:block>
                        </div>
                    </span>

                </div>

                <div class="probability">
                    PROBABILITY
                    <span class="sectionHeader"></span>
                    <br>
                    <th:block th:each="dto, iter : ${probabilityDTO}">
                        <input type="button" th:name="${dto.number}" class="btn btn-info" th:id="${dto.number}" th:value="${dto.number}">
                        <span th:if="${dto.chance  &gt 0.66}">
                            <input type="button" th:name="${dto.chance}" class="btn btn-success" th:id="${dto.chance}" th:value="${dto.chance}">
                        </span>
                        <span th:unless="${dto.chance  &gt 0.66}">
                            <span th:if="${dto.chance  &gt 0.33}">
                                <input type="button" th:name="${dto.chance}" class="btn btn-warning" th:id="${dto.chance}" th:value="${dto.chance}">
                            </span>
                            <span th:unless="${dto.chance  &gt 0.33}">
                                <input type="button" th:name="${dto.chance}" class="btn btn-danger" th:id="${dto.chance}" th:value="${dto.chance}">
                            </span>
                        </span>
                        <span th:if="${iter.count % 5 == 0}"> <br> <br> </span>
                    </th:block>
                </div>

            </div>
        </div>
    </center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="panel.js"></script>
</body>
</html>